{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": ["dist"],
	"plugins": ["@typescript-eslint", "prettier"],
	"rules": {
		"indent": "off",
		"@typescript-eslint/indent": "off",
		"semi": "off",
		"@typescript-eslint/semi": [
			"error",
			"always",
			{"omitLastInOneLineBlock": false}
		],
		"func-call-spacing": "off",
		"@typescript-eslint/func-call-spacing": ["error", "never"],
		"quotes": "off",
		"@typescript-eslint/quotes": ["error", "single"],
		"brace-style": "off",
		"@typescript-eslint/brace-style": [
			"error",
			"1tbs",
			{"allowSingleLine": true}
		],
		"comma-spacing": "off",
		"@typescript-eslint/comma-spacing": ["error"],
		"space-before-function-paren": "off",
		"@typescript-eslint/space-before-function-paren": [
			"error",
			{
				"anonymous": "always",
				"named": "never",
				"asyncArrow": "always"
			}
		],
		"@typescript-eslint/no-unnecessary-type-assertion": ["error"],
		"@typescript-eslint/no-useless-constructor": ["error"],
		"@typescript-eslint/prefer-includes": ["error"],
		"@typescript-eslint/prefer-string-starts-ends-with": ["error"],
		"keyword-spacing": ["error"],
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "internal"],
				"pathGroupsExcludedImportTypes": ["builtin"],
				"newlines-between": "always",
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		],
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_"
			}
		]
	}
}
